/* You can add global styles to this file, and also import other style files */

.align-right{
    text-align: right;
}
.margin-left-10{
    margin-left: 10px;
}
[hidden]{
    display: none!important;
}